* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  background: #f5f5f5;
}

#root {
  width: 100%;
  max-width: 900px;
  display: flex;
  flex-direction: column;
}

.app-container {
  flex: 1;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.messages-container {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  align-items: stretch;
  scrollbar-width: none;
}

.input-area {
  display: flex;
  gap: 15px;
  margin-top: 30px;
  margin-bottom: 30px;
}

input {
  flex: 1;
  padding: 12px;
  border-radius: 20px;
  border: 1px solid #ccc;
  font-size: 16px;
}

button {
  cursor: pointer;
  padding: 12px 18px;
  font-weight: bold;
  border-radius: 20px;
  border: none;
  font-size: 16px;
}

.user-message,
.robot-message {
  display: flex;
  align-items: center;
  gap: 10px;
  max-width: 75%;
  width: fit-content;
}

.user-message {
  align-self: flex-end;
}

.robot-message {
  align-self: flex-start;
}

.user-message > p,
.robot-message > p {
  padding: 12px 16px;
  border-radius: 20px;
  font-size: 16px;
}

.user-message > p {
  background-color: #b073d9;
  color: #fff;
}

.robot-message > p {
  background-color: #e5e7eb;
  color: #111;
}

@media (max-width: 768px) {
  #root {
    padding: 15px;
  }

  .user-message,
  .robot-message {
    max-width: 85%;
  }
}

@media (max-width: 480px) {
  .input-area {
    flex-direction: column;
  }

  button {
    width: 100%;
  }
}
